.bg-img-1{
    background-image: url(/Projects/Assets/HomePage/bg/background-1.jpg);
    background-repeat: no-repeat;
    /* background-position: 0% 50% 30% 0%; */
    background-position-x: 50%;
    /* background-size: contain; */
    background-size: cover;
    height: 86.5vh;

}

.bg-img-2{
    background-image:  url(/Projects/Assets/HomePage/bg/background-2.jpg);
    background-attachment: scroll;
    height: min-content;
    background-size: 100%;
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    z-index: 0;


}

.bg-color{
    background-color: #f8f9fa;
}

.a-bg-img-1{
    background-image: url(/Projects/Assets/HomePage/bg/background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    height: 30vh;
}